{% extends 'base.html' %}

{% block title %}Задачи{% endblock %}

{% block content %}
<h1 style="text-align: center; margin: 40px 0;">Детальный просмотр задачи</h1>
    <div class="card" style="width: 30rem; margin-bottom: 20px; margin-left: 10px; border-color: black">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ lists.description }}</li>
            <li class="list-group-item">{{ lists.detailed_descr }}</li>
            <li class="list-group-item">{{ lists.status }}</li>
            <li class="list-group-item">{{ lists.due_date|date:"Y-m-d" }}</li>
        </ul>
        <div class="card-footer">
            <div class="card-footer">
            <a href="{% url 'index' %}">В главное меню</a>
        </div>
        </div>
    </div>

{% endblock %}