{% extends "base.html" %}
{% block title %}Обновление списка{% endblock %}
{% block content %}
    <h1 style="text-align: center; margin: 40px 0;">Обновление задачи</h1>
    <div class="card">
        <div class="card-header">
            Задача
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'update' pk=lists.pk %}">
                {% csrf_token %}
                {% include 'partial/list_form.html' %}
                <button type="submit">Редактировать</button>
                <br>
                <a href="{% url 'index' %}">Вернуться к списку</a>
            </form>
        </div>
    </div>
{% endblock %}
